/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #15011b;
  --secondary-color: #261140;
  --text-light: #ccd6f6;
  --text-dark: #8892b0;
  --accent-color: #c394d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: img;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--text-light);
}